@model OneYearReign.Core.Models.Album

<h2>Latest Single - @Model.Name</h2>
<ul>
    <li><a target="_blank" href="@Model.Image.Link" title="@Model.Image.Text"><img src="@Model.Image.Source" alt="@Model.Image.Text"  /></a></li>
</ul>
